# LaTeX build artifacts
*.aux
*.bbl
*.blg
*.bcf
*.run.xml
*.toc
*.out
*.log
*.fls
*.fdb_latexmk
*.synctex.gz
*.pdf

# Data and Large Files
*.h5
*.csv
*.pkl
Manuscript/poster/a0header.ps

# Python
__pycache__/
.ipynb_checkpoints/.DS_Store
**/.DS_Store
